@import '../../../../styles/vars.scss';

.terminal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: auto;
  font-size: 22px;
  font-weight: 700;
  border-radius: 50%;
  border: 1px solid $terminal-color-green;
  color: $terminal-color-green;

  &.blue {
    border-color: $terminal-color-blue;
    color: $terminal-color-blue;
  }
}

.airline {
  display: flex;
  align-items: center;
  padding-left: 60px;
  line-height: 18px;
  font-size: 16px;

  &__logo {
    width: 63px;
    height: 38px;
    margin-right: 7px;
  }
}
