@import './vars.scss';
@import './global.scss';
@import '../features/flights/components/flightBoard/flight-board.scss';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $body-bgc;
  color: $text-color-primary;
}
