$body-bgc: #e7efec;
$bgcolor-table-row-odd: #0066871a;

$bg-color-white: #fff;
$bg-color-blue: #73d2f0;
$bg-darkblue-color: #1eb7ee;

$text-color-white: #fff;
$text-color-blue: #73d2f0;
$text-darkblue-color: #1eb7ee;
$text-color-primary: #2f2f2f;
$text-color-secondary: #b8b9b9;

$terminal-color-green: #63c745;
$terminal-color-blue: deepskyblue;

$bg-color-grey: #f4f5f7;

$border-darkblue-color: #1eb7ee;
