.search-action {
  margin-top: 90px;
  margin-bottom: 40px;

  &__title {
    text-align: left;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 20px;
    line-height: 80px;
  }

  &__form {
    position: relative;
    display: flex;
    margin-top: 20px;
    height: 70px;
  }

  &__input {
    font-size: 24px;
    padding-left: 70px;
    padding-right: 200px;
    height: 100%;
    display: block;
    border: none;
    width: 100%;
  }

  &__btn {
    height: 100%;
    width: 200px;
    padding: 0 10px;
    font-size: 26px;
    border-radius: 0 90px 0 0;
    font-weight: 700;
    border: none;
    outline: none;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    text-align: left;
    color: #fff;
    background: #1eb7ee;
    cursor: pointer;

    &:hover {
      border-radius: 0 40px 0 0;
    }
  }
}

.fa-search {
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 25px;
  color: #b1aeae;
}
