@import '../../../../styles/vars.scss';
@import '../../../../styles/breakpoints.scss';

.flights-table {
  background-color: $bg-color-white;
}

.table {
  width: 100%;
  border-collapse: collapse;

  &__head {
    color: $text-color-secondary;
    display: none;
    @include for-large-up {
      display: table-header-group;
    }
  }

  &__head-row {
    height: 50px;
    font-weight: 400;
    th {
      padding: 16px 10px;
      text-align: center;
    }
  }

  &__body-row {
    position: relative;
    @include for-large-up {
      position: static;
    }
    &:nth-of-type(odd) {
      background-color: $bgcolor-table-row-odd;
      transition: 0.3s;
    }

    &:hover {
      box-shadow: 1px 20px 36px -7px #00000057;
    }
  }

  td {
    padding: 5px;
    text-align: left;
    font-size: 18px;
    line-height: 40px;
    @include for-large-up {
      padding: 16px 10px;
      text-align: center;
      line-height: 20px;
    }
  }

  td:last-child {
    opacity: 0;
    color: $text-darkblue-color;

    &:hover {
      opacity: 1;
    }

    span {
      text-decoration: underline;
    }

    span:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.nothing-found-msg,
.loading-msg,
.error-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  min-height: 300px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background-color: $bg-color-white;
}
.loading-msg {
  min-height: 10px;
}
.error-msg {
  color: red;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 30px;
  height: 30px;
  border: 3px solid $border-darkblue-color;
  border-left-color: transparent;
  border-radius: 50%;
  animation: spin 0.5s infinite linear;
  transform: translate(-50%, -50%);
}
